<!DOCTYPE html>
<html>
    <head>
        <title> Add Shopping List Item </title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="../styles/addWindow.css">

    </head>



    <body>

        <div class="container">
            <form id="addItemForm">
                <div>
                    <label> Enter Item </label>
                    <input class="button" type="text" id="addItem" autofocus>
                </div>
                <button id="addButton" type="submit" class="btn waves-effect waves-light"> Add Item </button>
            </form>
        </div>

        <script>
            const electron = require('electron');
            const {ipcRenderer} = electron;

            var addItemForm = document.getElementById('addItemForm');
            addItemForm.addEventListener('submit', submitForm);

            function submitForm(e) {
                e.preventDefault();
                const scheduleItem = document.getElementById('addItem').value;
                ipcRenderer.send('scheduleItem:add', scheduleItem);
            }

        </script>

    </body>
</html>
