<!DOCTYPE html>

<html>

    <head>
        <title> To-Do List </title>

        <link type="text/css" rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.css"  media="screen,projection"/>
        <link rel="stylesheet" href="../styles/home.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <script type="text/javascript" src="../node_modules/materialize-css/dist/js/materialize.js"></script>
        <script type="text/javascript" src="../scripts/home.js"></script>

    </head>

    <body onload="updateDate();">

        <nav id="headerNav">
            <div class="nav-wrapper">
                <a class="brand-logo center"> To-Do List </a>
                <span id="dateSection"> </span>
            </div>
        </nav>
        <button class="waves-effect waves-light btn" id="addButtonHome" onclick="openAddWindow();"> <i style="vertical-align: middle" class="material-icons right">add</i> Add Item to Schedule </button>
        <ul id="scheduleList"></ul>

        <script>

            const electron = require('electron');
            const {ipcRenderer} = electron;
            const ul = document.getElementById("scheduleList");
            let currentListElems = new Array();

            addPastElems();

            // add item
            ipcRenderer.on('scheduleItem:add', function(e, item, time) {

                ul.classList.add("collection");
                var li = document.createElement('li');
                li.classList.add("collection-item");
                var liText = "Event: " +  item + ", Time: " + time;
                var liContent = document.createTextNode(liText);
                var trashIcon = document.createElement('i');
                trashIcon.classList.add('material-icons', 'trash-icon');
                trashIcon.innerHTML = 'delete';
                trashIcon.onclick = function() { removeLiItem(li, liText); }

                li.appendChild(liContent);
                li.appendChild(trashIcon);
                ul.appendChild(li);
                currentListElems.push(liText);

            });

            // remove all items
            ipcRenderer.on('scheduleItem:clear', function() {
                ul.innerHTML = "";
                ul.classList.remove('collection');
                console.log(currentListElems);
                if(currentListElems) {
                    console.log('got here');
                    currentListElems = [];
                }
                console.log(currentListElems)

            });

            window.addEventListener('beforeunload', function() {
                localStorage.setItem('listElems', JSON.stringify(currentListElems));
            });

        </script>

    </body>
</html>
